@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">RealEstate - 20 năm hình thành và phát triển</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Giới thiệu
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= About Section ======= -->
    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 position-relative">
                    <div class="about-img-box">
                        <img src="/assets/theme/assets/img/slide-about-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="sinse-box">
                        <h3 class="sinse-title">
                            RealEstate
                            <span></span>
                            <br> Từ 2003
                        </h3>
                        <p>Group tư vấn BĐS</p>
                    </div>
                </div>
                <div class="col-md-12 section-t8 position-relative">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <img src="/assets/theme/assets/img/about-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-2  d-none d-lg-block position-relative">
                            <div class="title-vertical d-flex justify-content-start">
                                <span>Chuyên nghiệp &nbsp; Nhanh gọn</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 section-md-t3">
                            <div class="title-box-d">
                                <h3 class="title-d">
                                    Real
                                    <span class="color-d">Estate</span>
                                </h3>
                            </div>
                            <p class="color-text-a">
                                Với tiềm lực mạnh về tài chính, vững vàng về kinh nghiệm, cùng đội ngũ cán bộ nhân viên được đào tạo chuyên nghiệp, nhiệt tình, năng động, sáng tạo và làm việc hiệu quả, Ðất Xanh nỗ lực không ngừng trong mọi hoàn cảnh để khẳng định và nâng cao vị thế của mình trên thị trường bất động sản Việt Nam, giữ vững niềm tin trong tâm trí khách hàng và đối tác.
                            </p>
                            <p class="color-text-a">
                                Tự tin với sức mạnh của ba mũi nhọn là Ðầu tư – Xây dựng – Dịch vụ, Ðất Xanh đã và đang khẳng định vị thế là Nhà cung cấp giải pháp bất động sản toàn diện nhằm tạo lập cuộc sống ưu việt cho khách hàng.
                            </p>
                            <p class="color-text-a">
                                Với chiến lược đa ngành nghề, đa sở hữu và đa quốc gia, Đất Xanh chủ trương liên doanh, liên kết, hợp tác với các tổ chức Tài chính, Ngân hàng, Công nghệ, Nhân lực…nhằm tối ưu hóa lợi thế cạnh tranh trên thị trường. Đất Xanh là một trong những doanh nghiệp có được nét văn hóa riêng, tạo được môi trường lý tưởng cho mọi người phát triển sự nghiệp trong lĩnh vực bất động sản, đồng thời đề cao mục tiêu phát triển doanh nghiệp gắn với sự phát triển xã hội, luôn có những hành động thiết thực chung tay vì một cộng đồng bền vững và nhân ái.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main --> 