/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
.k-grid-top {
    padding: 0px;
}

html, body, button, div, span, iframe, h1, h2, h3, h4, h5, h6, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

body {
    background-color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #696969;
    overflow-y: auto;
}

a:link {
    color: #034af3;
    text-decoration: none;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 2em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

    #header h1 {
        font-weight: bold;
        padding: 5px 0;
        margin: 0;
        color: #fff;
        border: none;
        line-height: 2em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px !important;
    }

#main {
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    background-color: #fff;
    margin-bottom: 1px;
    height: 100%;
    min-height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

.container {
    margin: auto;
    text-align: left;
    width: 85%;
}

#footer {
    color: #000;
    text-align: center;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
    background-color: #5c87b2;
    height: 60px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul.menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul.menu li {
        display: inline;
        list-style: none;
    }

        ul.menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul.menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
        }

            ul.menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul.menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul.menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

#menucontainer {
    margin-top: 0px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#copyright {
    font-size: 1.1em;
    display: block;
    text-align: right;
    color: White;
}

    #copyright a:link {
        color: white;
        text-decoration: none;
    }

    #copyright a:visited {
        color: white;
        text-decoration: none;
    }

    #copyright a:hover {
        color: white;
        text-decoration: none;
    }




/*Set css form*/
*,
:before,
:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/* set a border-box model only to elements that need it */
.k-window,
.container,
.container-fluid,
.row,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}


.k-edit-form-container {
    width: 100%;
}

.k-filebrowser-dialog {
    height: 470px !important;
}

.k-tile strong {
    width: 80px;
}

.k-edit-form-container .k-textbox {
    width: 100%;
}

.k-numerictextbox .k-input {
    width: 98%;
    text-align: right;
    padding-right: 2% !important;
}

.k-panelbar .k-image, .k-panelbar .k-sprite {
    float: none;
    margin-top: 0;
    margin-right: 0;
}

.k-multiselect-wrap {
    height: 50px;
    overflow: auto;
}

@page {
    size: auto; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}



/* Info template */
.k-notification-info.k-group {
    background: #87cefa;
    color: #fff;
}

.new-mail {
    width: 300px;
    height: 100px;
}

    .new-mail h3 {
        font-size: 17px;
        font-weight: bold;
        padding: 32px 10px 5px;
        color: #ffffff;
    }

    .new-mail img {
        float: left;
        margin: 30px 15px 30px 30px;
    }
/* Error template */
.k-notification-error.k-group {
    background: #ff0000;
    background: rgba(100%,0%,0%,.7);
    color: #ffffff;
}

.wrong-pass {
    width: 300px;
}

    .wrong-pass h3 {
        font-size: 17px;
        font-weight: bold;
        padding: 32px 10px 5px;
        color: #ffffff;
    }

    .wrong-pass img {
        float: left;
        margin: 30px 15px 30px 30px;
    }

/* Success template */
.k-notification-upload-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
}

#txtSearch, #txtSearchc {
    margin-top: 4px;
    width: 99%;
    height: 34px;
    font-size: 15px;
}

.grid-number {
    text-align: right;
}

.grid-center {
    text-align: center;
}

.list-drop-down {
    width: 99%;
    z-index: 1;
}

.k-filebrowser-dialog > .k-edit-label {
    display: none !important;
}

.k-filebrowser-dialog > .k-edit-field {
    display: none !important;
}